# mac
.DS_Store

# win
Thumb.db
Desktop.ini

# node
node_modules/
build/
obj/
Debug/
bin/

# cordova
/platforms
/plugins
/dist
/www

# general
.sass-cache/
/tmp
/coverage
*.log
*.tmp
resources/signing
.vs
.vscode
*~
*.sw[mnpcod]
